

body{
    background-color: #EFEFEF
}

.page-wrapper {
    margin: 15px;
}

#navbar, #mini-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 100px;
}

.navbar-item a {
    text-decoration: none;
    font-size: 50px;
    display: flex;
    color: black;
    font-family: Times, Cambria, Cochin, Georgia, 'Times New Roman', serif
}

.mini-navbar-item a{
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    color: #888888 
}

.list-item {
    text-decoration: none;
    list-style-type: none;
}

.row {
    margin-top: 200px;
    display:flex;
    flex-direction: row;
    flex-basis: 100%;
    flex:1;
}

.column {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}

.left-column {
    display: flex;
    justify-content: center;
}   

.right-column {
    display:flex;
    justify-content: left;
    font-size: 40px;
}


@media only screen and (max-width:600px){
    ul{
        display: flex;
        flex-direction: column;
    }
    
    li a {
        display:flex
    }

    .row{
        flex-wrap:wrap;
    }
}

#education_list {
    list-style-type: square
}